
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #1a1aff;
    --teal:  #000066;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #80c1ff;
    --secondary: #f4faec;
    --success:#00ffff;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #FFFFFF;
    --dark: #212121;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Poppins", sans-serif;
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

}
    *{
    font-family: sans-serif;
  margin: 0;
  padding: 0;
  }

  .login{
    border: 3px solid #2f3542;
    width: 20%;
    margin: 10% auto;
    text-align: center;
    padding: 0.8%;
    color: #000000;
    background-color: #70a1ff;
    
}

table tr td{
    padding: 1%;
}
.btn-primary2{
    background-color: #3742fa;
    width: 30%;
    padding: 1%;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.btn-primary2:hover{
    background-color: #5352ed;
}
p{
    color: #2f3542;
}
.wrapper2{

    padding: 0.5%;
    width: 98%;
    margin: 0 auto;
}